<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="https://images.pexels.com/photos/1373100/pexels-photo-1373100.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://images.pexels.com/photos/1373100/pexels-photo-1373100.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://images.pexels.com/photos/1373100/pexels-photo-1373100.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>


<mat-divider></mat-divider>
<br>
<br>

<div class="card-group">
  <div class="card">
    <button id="btn" onclick="trocarImage01(), trocaImage02()"></button>
    <img src="/img/iconmonitor.png" id="img01" alt="monitor">
      
    <div class="card-body">
      <h5 class="card-title">Monitores</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras posuere dolor justo, ut vehicula arcu vulputate in. Fusce pellentesque sapien velit, nec aliquet eros consectetur aliquet. Nam accumsan mattis velit, et pharetra turpis finibus et. Curabitur ut felis orci. In efficitur vestibulum eros. </p>
      <a href="#" class="card-link">Comprar Agora</a>
    </div>
  </div>
 
  <div class="card">
    <button onclick="trocarImage02()">mudar imagem</button>
      <img src="/img/iconconsola-de-video.png" id="img02" alt="">
    <div class="card-body">
      <h5 class="card-title">Consoles</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras posuere dolor justo, ut vehicula arcu vulputate in. Fusce pellentesque sapien velit, nec aliquet eros consectetur aliquet. Nam accumsan mattis velit, et pharetra turpis finibus et. Curabitur ut felis orci. In efficitur vestibulum eros. </p>
      <a href="#" class="card-link">Comprar Agora</a>
    </div>
  </div>
  
  <div class="card"><button onclick="trocarImage03()">mudar imagem</button>
    <img src="/img/iconpc.png" id="img03" alt="">
    <div class="card-body">
      <h5 class="card-title">Computadores</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras posuere dolor justo, ut vehicula arcu vulputate in. Fusce pellentesque sapien velit, nec aliquet eros consectetur aliquet. Nam accumsan mattis velit, et pharetra turpis finibus et. Curabitur ut felis orci. In efficitur vestibulum eros. </p>
      <a href="#" class="card-link">Comprar Agora</a>
  </div>
  </div>

  
</div>
<mat-divider></mat-divider>
  <!--sessao de destaques-->

  <div id="carousel" class="carousel carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="img/pexels-bryce-carithers-8782574.jpg" class="d-block w-100" alt="xbox">
        <div class="carousel-caption d-none d-md-block">
          <h5>Lorem ipsum dolor sit amet</h5>
          <p>Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="/img/ps5.png" class="d-block w-100" alt="ps5">
        <div class="carousel-caption d-none d-md-block">
          <h5>Lorem ipsum dolor sit amet</h5>
          <p>Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/img/atari.jpg" class="d-block w-100" alt="atari">
        <div class="carousel-caption d-none d-md-block">
          <h5>Lorem ipsum dolor sit amet</h5>
          <p>Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>    

