<div class="container">
    <div class="header">
      <span> Cadastro de Produtos</span>
      <button onclick="openModal()" id="new">Incluir</button>
    </div>

    <div class="divTable">
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Produto</th>
            <th>Valor</th>
            <th class="acao">Quantidade</th>
            <th class="acao">Excluir</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>

    <div class="modal-container">
      <div class="modal">
        <mat-form-field>
          <label for="m-nome">Nome</label>
          <input type="text" class="form-control"  matInput [(ngModel)]="crud.usuario" name="usuario"/>

          <div>
            <button class="btn btn-crud" (click)="createCrud()" color="warn">Inserir Nome</button>
          </div>
        </mat-form-field>
      </div>
    </div>

  </div>