<div class="titulo">
 <h2>Nossos <b>Produtos</b></h2>
</div>
<mat-divider></mat-divider>
<br>
<div class="container">
  <div class="row">
    <div class="catalogo">
          <mat-card-title-group>
                  
                    <img mat-card-sm-image srcset="https://fs-prod-cdn.nintendo-europe.com/media/images/11_square_images/games_18/nintendo_switch_5/SQ_NSwitch_TheLegendOfZeldaLinksAwakening_image380w.jpg" class="img-responsive" alt="">									
                  
                
                  <div class="thumb-content">
                    <h4>Console PS5</h4>		
                    <mat-card-subtitle>							
                    <div class="star-rating">
                      <ul class="list-inline">
                        <li class="list-inline-item"><mat-icon>star</mat-icon></li>
                        <li class="list-inline-item"><mat-icon>star</mat-icon></li>
                        <li class="list-inline-item"><mat-icon>star</mat-icon></li>
                        <li class="list-inline-item"><mat-icon>star</mat-icon></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                      </ul>
                    </div>
                    </mat-card-subtitle>
                    <p class="item-price"><del>r$499.00</del> <b>r$369.00</b></p>
                    
                  	  <mat-card-actions>
                        <button mat-icon-button color="accent" href='#'>
                          <mat-icon>shopping_cart</mat-icon>
                          <mat-icon color="accent"> favorite</mat-icon>
                        </button>
                      </mat-card-actions>
                  </div>
                </mat-card-title-group>
          <mat-divider></mat-divider>

                    <mat-card-title-group>
                                  
                    <img mat-card-sm-image srcset="https://fs-prod-cdn.nintendo-europe.com/media/images/11_square_images/games_18/nintendo_switch_5/SQ_NSwitch_TheLegendOfZeldaLinksAwakening_image380w.jpg" class="img-responsive" alt="">									
                  
                
                  <div class="thumb-content">
                    <h4>Console PS5</h4>		
                    <mat-card-subtitle>							
                    <div class="star-rating">
                      <ul class="list-inline">
                        <li class="list-inline-item"><mat-icon>star</mat-icon></li>
                        <li class="list-inline-item"><mat-icon>star</mat-icon></li>
                        <li class="list-inline-item"><mat-icon>star</mat-icon></li>
                        <li class="list-inline-item"><mat-icon>star</mat-icon></li>
                        <li class="list-inline-item"><mat-icon>star</mat-icon></li>
                      </ul>
                    </div>
                    </mat-card-subtitle>
                    <p class="item-price"><del>r$499.00</del> <b>r$369.00</b></p>
                    
                  	  <mat-card-actions>
                        <button mat-icon-button color="accent" href='#'>
                          <mat-icon>shopping_cart</mat-icon>

                          <mat-icon color="accent"> favorite</mat-icon>
                        </button>
                      </mat-card-actions>
                  </div>
                </mat-card-title-group>
                <mat-divider></mat-divider>
              </div>
        </div>    
</div>
