<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Nossos <b>Produtos</b></h2>
        <div id="carouselExempleControls" class="carousel slide" data-ride="carousel" data-interval="0">               
          <div class="carousel-inner">
          <div class="item active">
            <div class="row">
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                  <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                  <div class="img-box">
                    <img src="img/ps5.png" class="img-responsive" alt="">									
                  </div>
                  <div class="thumb-content">
                    <h4>Console PS5</h4>									
                    <div class="star-rating">
                      <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                      </ul>
                    </div>
                    <p class="item-price"><del>r$499.00</del> <b>r$369.00</b></p>
                    <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
                  </div>						
                </div>
              </div>
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                  <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                  <div class="img-box">
                    <img src="img/pcgamer.jpg" class="img-responsive" alt="">									
                  </div>
                  <div class="thumb-content">
                    <h4>PC Gamer</h4>									
                    <div class="star-rating">
                      <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                      </ul>
                    </div>
                    <p class="item-price"><del>r$499.00</del> <b>r$369.00</b></p>
                    <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
                  </div>						
                </div>
              </div>
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                  <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                  <div class="img-box">
                    <img src="img/nintendo.jpg" class="img-responsive" alt="">									
                  </div>
                  <div class="thumb-content">
                    <h4>Console Nintendo</h4>									
                    <div class="star-rating">
                      <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                      </ul>
                    </div>
                    <p class="item-price"><del>r$499.00</del> <b>r$369.00</b></p>
                    <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
                  </div>						
                </div>
              </div>
             
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                  <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                  <div class="img-box">
                    <img src="img/jogo1.png" class="img-responsive" alt="">									
                  </div>
                  <div class="thumb-content">
                    <h4>FORTNITE</h4>									
                    <div class="star-rating">
                      <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                      </ul>
                    </div>
                    <p class="item-price"><del>r$400.00</del> <b>r$369.00</b></p>
                    <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
                  </div>						
                </div>
              </div>                                
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                  <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                  <div class="img-box">
                    <img src="img/ps5.png" class="img-responsive" alt="">									
                  </div>
                  <div class="thumb-content">
                    <h4>Console PS5</h4>									
                    <div class="star-rating">
                      <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                      </ul>
                    </div>
                    <p class="item-price"><del>r$499.00</del> <b>r$369.00</b></p>
                    <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
                  </div>						
                </div>
              </div>
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                  <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                  <div class="img-box">
                    <img src="img/pcgamer.jpg" class="img-responsive" alt="">									
                  </div>
                  <div class="thumb-content">
                    <h4>PC Gamer</h4>									
                    <div class="star-rating">
                      <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                      </ul>
                    </div>
                    <p class="item-price"><del>r$499.00</del> <b>r$369.00</b></p>
                    <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
                  </div>						
                </div>
              </div>
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                  <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                  <div class="img-box">
                    <img src="img/nintendo.jpg" class="img-responsive" alt="">									
                  </div>
                  <div class="thumb-content">
                    <h4>Console Nintendo</h4>									
                    <div class="star-rating">
                      <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                      </ul>
                    </div>
                    <p class="item-price"><del>r$499.00</del> <b>r$369.00</b></p>
                    <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
                  </div>						
                </div>
              </div>
             
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                  <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                  <div class="img-box">
                    <img src="img/jogo1.png" class="img-responsive" alt="">									
                  </div>
                  <div class="thumb-content">
                    <h4>FORTNITE</h4>									
                    <div class="star-rating">
                      <ul class="list-inline">
                      </ul>
                    </div>
                    <p class="item-price"><del>r$499.00</del> <b>r$369.00</b></p>
                    <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
                  </div>						
                </div>
              </div>                                
                                     
                </div>
              </div>
            </div>              
                </div>
              </div>
            </div>
            
         
        </div>
                  
      
